body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body and html take up the full height of the viewport */
  background-color: #f0f0f0; /* Set background color for the entire page */
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page1 {
  background-color: #FDE1C0;
  width: 100%;
  height: 100vh; /* Set height to full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(63, 37, 5);
}

.page2 {
  background-color: #FDE1C0;
  width: 100%;
  height: 100vh; /* Set height to full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(63, 37, 5);
}

.formPage {
  background-color: #FDE1C0;
  width: 100%;
  height: 100vh; /* Set height to full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(63, 37, 5);
}