.custom-button1 {
    background-color: #a665cb;
    box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .custom-button1:hover {
    background-color: #712f97;
  }

.more-info-button {
    background-color: #a665cb;
    box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .more-info-button:hover {
    background-color: #712f97;
  }

  
.custom-button2 {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button2:hover {
    background-color: #ff1493;
  }

.hamburger {
    font-size: 30px;
    background-color: #a665cb;
    border: 2px solid transparent; /* Add a border */
    border-radius: 10px; /* Make the border rounded */
    box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
    cursor: pointer;
    position: fixed; /* Make the button fixed */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the right */
    color: white; /* Set the color */
    padding: 7px; /* Add some padding */
    z-index: 1001; /* Make sure it's above everything else */
    width: 50px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    transform: translate(20px, 20px); /* Move the icon to the right by 20px and down by 20px */
}

  .hamburger:hover {
    background-color: #8343a8;
  }



.menu {
  background-color: #bd9b75;
  color: #fff;
  box-shadow: 0 0 20px rgb(63, 37, 5); /* Add an outline */
  position: fixed; /* Make the menu fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Position it at the right */
  width: 175px; /* Give it a width */
  height: 92vh; /* Make it fill the height of the viewport */
  z-index: 1000; /* Make sure it's above everything else */
  padding-top: 80px; /* Add some padding to the top */
  padding-left: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

  .menu a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
  }

.custom-text-input {
  background-color: #a665cb;
  margin-bottom: 20px; /* Adjust as needed */
  box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
  
  .custom-text-input:hover {
    background-color: #8343a8;
  }

  .custom-text-input:focus {
    background-color: #712f97; /* Change to the color you want when the input is focused */
  }

  .custom-text-input::placeholder {
    color: #d9d9d9; /* Change to the color you want for the placeholder text */
  }


  .custom-text-input2 {
    background-color: #a665cb;
    margin-bottom: 20px; /* Adjust as needed */
    box-shadow: 0 0 10px rgb(63, 37, 5); /* Add an outline */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    width: 200px;
  }
    
    .custom-text-input2:hover {
      background-color: #8343a8;
    }
  
    .custom-text-input2:focus {
      background-color: #712f97; /* Change to the color you want when the input is focused */
    }
  
    .custom-text-input2::placeholder {
      color: #d9d9d9; /* Change to the color you want for the placeholder text */
    }


.menu-link:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding-bottom: 20px;
}

.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}